body {
    font-size: 1.2em;
    padding: 30px;
    background: #f9f9f9;
}

h2, h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

form input, form button {
    font-size: 1.2em;
    padding: 8px 12px;
    margin-right: 10px;
}

table {
    font-size: 1.2em;
    margin-top: 10px;
    width: 100%;
}

th, td {
    padding: 12px 16px;
}

button {
    font-size: 1.2em;
    padding: 10px 18px;
    margin-top: 10px;
    cursor: pointer;
}

canvas {
    margin-top: 20px;
}